<p id="notice"><%= notice %></p>

<p>Create <%= link_to 'new "Should I"', new_opinion_path %> to get input from people all around the world!</p>


<% @opinions.each do |opinion| %>

  <div class="si-container">
    <img class="si-tease-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6lvSaITbgDxwxghFjK7TjhLtDD3tCyH6T1BxnhhfcPgFXiaRFOw">
    <p class="si-tease-content">Should I <span class="si-bold-text"><%= opinion.option_one %></span> or <span class="si-bold-text"><%=opinion.option_two %>?</span>
    <span><%= link_to 'Vote ->', opinion %></span>
    </p>
  </div>
<% end %>

