<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @opinion.user_id %>
</p>

<p>
  <strong>Option one:</strong>
  <%= @opinion.option_one %>
</p>

<p>
  <strong>Option two:</strong>
  <%= @opinion.option_two %>
</p>

<p>
  <strong>Option one votes:</strong>
  <%= @opinion.option_one_votes %>
</p>

<p>
  <strong>Option two votes:</strong>
  <%= @opinion.option_two_votes %>
</p>

<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', opinions_path %>
